<div id="ajax_response_remove" style="display:none">
	<div id="message">Business removed from your list</div>		
</div>
<div id="ajax_response_add" style="display:none">
	<div id="message">Business added to your list</div>		
</div>