<div class="search">
	<div class="search_field">
		<% form_tag(url_for_options = {:controller => "search", :action => "index"}, :method => :get) do %>  
			<fieldset>
				<%= text_field_with_auto_complete "",:city, 
							  { :value=>"City Name",
								:onclick=>"{ if (this.value == 'City Name'){this.value=''}}",
								:onblur => "{if (this.value == ''){this.value='City Name'}}"}, 
							  { :url => get_cities_path,
								:method => :get, 
								:with => "'search=' + element.value", 
								#:tokens => [",","\s"]
							}%>
							
				<%= text_field_with_auto_complete "", :location, 
							  { :value=>"Location",
								:onfocus=>"{ if (this.value == 'Location'){this.value=''}}",
								:onblur => "{if (this.value == ''){this.value='Location'}}"}, 
							  {	:url => get_locations_path,
								:method => :get, 
								:with => "'city=' + document.getElementById('_city').value + '&' + 'search=' + element.value", 
								#:tokens => [",","\s"]
							}%>		
				<input id="search_type" type="hidden" value="" name="search_type"/>					
				<%= text_field_with_auto_complete "", :names_and_categories, 
							  { :value => "Product/Name",
								:onfocus=>"{ if (this.value == 'Product/Name'){this.value=''}}",
								:onblur => "{if (this.value == ''){this.value='Product/Name'}}"},	
				 			  { :url => get_names_and_categories_path,
								:method => :get, 
								:with => "'city=' + document.getElementById('_city').value + '&' + 'location=' + document.getElementById('_location').value + '&'+ 'search=' + element.value", 
								:after_update_element =>																						
								 					"function(ele,val){
														document.getElementById('search_type').value = val.id}",
								#:tokens => [",","\s"]
							}%>	
							
			
 
			<%= submit_tag("Search") %> </fieldset>
		<% end %> 
	</div>
</div>