<h1>Editing business</h1>

<h3>Edit Business Details</h3>
<%= render 	:partial => "business_form",
 			:locals => {:member => @member, :business => @business,
						:cities => City.all, :locations => Location.all,
						:categories => Category.all, :sub_categories => SubCategory.all,
						:submit_label => "Update Business" }%>



