<h2>Registered Businesses</h2> 
<% if @logged_in %>
	<%= link_to "Add your own business" , new_member_business_path(@member.id) %>
<%end%>
<div id="business_list">
	<%= render :partial => "ajax_response" %>
	<% @businesses.each do |@business| %>
		<%= render 	:partial => "business_box", 
					:locals => {:show_business_page => false}%>
	<% end %>
</div>

<%= will_paginate @businesses %>
	
	
	
	
