<h2>Welcome <%= @member.first_name %></h2>
<h3>Add a New Business</h3>
<div class="form">
<%= render 	:partial => "business_form",
	 		:locals => {:member => @member, :business => @business,
						:cities => City.all, :locations => Location.all,
						:categories => Category.all, :sub_categories => SubCategory.all,
						:submit_label => "Add Business" }%>



