<%= render :partial => "search_field"%>

<% if @search_results != nil %>
	<%= render 	:partial => "business_search_results", :locals => { :search_results => @search_results} %>
<% else %>
	<p><%= @text %></p>
<% end %>