<h2>Business Details</h2>

<div id="show_business">
	<%= render :partial => "ajax_response" %>
	<%= render 	:partial => "business_box", 
				:locals => {:business => @business, :member => @member,
					 		:owner => @owner, :logged_in => @logged_in,
							:show_business_page => true
							}%> 
							
	<% if @map != nil %>
	<%= @map.to_html %>						
	<div class="map" id="business_map" style="display:none">
		<%= @map.div %>
	</div>
	<% end %>
	
</div>