html { background-color: #436083; }
body { 
	font-family: Verdana, Helvetica, Arial, sans-serif; 
	margin: 32px auto; 
	padding: 10px 32px 10px 32px;
	min-width: 600px; 
	max-width: 800px; 
	height: 450px;
	font-size: 0.8em; 
	background-color: #EEE; 
	color: #333; 
	}


#notice, #errorExplanation {
	margin:10px;
	color: red;
	border: 2px solid red;
	padding: 3px;
	}
td#label {
	font-weight:bold
	}
td {
	width:100px
	}
#nav_bar {
	float: right
	}

#container {
	margin-top: 50px;
	margin-top: 50px;
	min-height:300px
	}

#footer {
	float:right
	}
