body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	width:auto;
	background-color:white;
	}
	
#header {
	display:block;
	margin:10px 100px 10px 100px;
}

#container {
	margin: 30px 100px 10px 100px;
	width:auto;
	min-height:500px;
	height:100%;
	border-top:3px solid #33CCFF;
		}

#footer {
	margin:10px 100px 10px 100px;
	border-top:3px solid #33CCFF;
	}
#notice {
	margin:5px;
	border:1px solid red;
	background:#fffccc;
	color:red;
	font-weight:bold;
	padding:.5em;
	margin-bottom:.8em;
	}
	
#errorExplanation{
	background:#FFEBE8 none repeat scroll 0;
	border:1px solid #DD3C10;
	padding:1em;
	font-weight:bold;
}

#welcome_message{
	margin-top:5px;
}
#message {
	background:#FFFBE2 none repeat scroll 0;
	color: black;
	border:2px solid green;
	padding:1em;margin:1em 0;
	font-weight:bold;
	}

	
/****BUSINESS DETAILS*****/

#business_list, #favorite_list, #owned_list {
    font-size:14px;
    font-family:Arial,Helvetica,sans-serif;
    width:600px;
    margin:0 auto;
	
}
a {
  text-decoration:none;
}

.business_box {
    margin:10px 0;
    border:1px solid #FFF073;
    background:none repeat scroll 0 0 #FEFCD6;
}   

.map {
	width:600px;
	height:400px;
	margin:auto;
	border:5px solid black;
	
}
.business_box h2{
    margin-top:0px;
    margin-bottom:5px;
    padding:10px 5px;  
    position:relative;
    font-weight:normal;
    background:none repeat scroll 0 0 #FFF073;
}

.business_box h2 span.sideDetail {
  top:011px;
  right:0px;  
  width:105px;
  font-size:10px;
  position:absolute;
}
.business_photo {
	width:200px;
	height:150px;
	float:left;
}
.resultInfo {
  
  font-size:12px;
  margin-top:5px;
  padding:4px 4px 1px;
}

.resultInfo p {
  padding:0px 0;
}

.phone {
  font-weight:bold;
}

.tags {
  color:#666666;
  font-size:11px;
}

.links {
  font-size:12px;
  font-weight:bold;
  margin-top:5px;
  padding:11px 0 11px 7px;  
  border-top:1px dashed #EAEDF0;
}
.show_business_links {
  margin-left:220px;
  font-size:12px;
  font-weight:bold;
  margin-top:5px;
  padding:11px 0 11px 7px;  
  border-top:1px dashed #EAEDF0;
}
.links a {
  color:#0087E1;
  padding-right:10px;
}
/* TABLE */

#title_row{
	font-size:130%;
	font-weight:bold;
	}

tr#label, td#label {
	font-weight:bold;
	}
	
td {
	width:150px;
	}
/*TABLE END */

.nav_bar {
	float: right
	}



#footer {
	
	}

