.photo_col {
	margin-top:10px;
	width: 180px;
	float:left;
	}
	
.profile_links{
	float:left;
	margin-top:10px;
	font-size:80%;
	}

.member_profile {
	margin-top:10px;
	margin-left: 10px;
	width:500px;
	float:left;
	font-size:120%;
	}
	
.member_favorites {
	margin-top:10px;
	margin-left: 50px;
	width:auto;
	float:left;
	font-size:120%;
	}
	
td#label {
	width: 80px;
	}
td#label_wide {
		font-weight:bold;
		width: 200px;
		}
td#member_details {
	width:250px;
	}
	
td#member_details_address {
	font-size:80%;
	width:250px;
	}

.manage_links {
	margin-top: 20px;
	}


