<h4>Edit Profile</h4>
<%= render 	:partial => "member_form",
			:locals => {:submit_label => "Update Profile", :new_form => false, :member => @member} %>

<%= link_to 'Back', member_path(@member.id) %>

