<h3>My Businesses</h3>
<% if @owned_businesses.empty? %>
	<p>You do not own any businesses. 
		<%= link_to "Add your business to our database", new_member_business_path(@member.id) %>
	<p>
<% else %>
	<div id="owned_list">
		<p><%= link_to "Add a new business", new_member_business_path(@member.id) %></p>
		<% for business in @owned_businesses do %>
			<%= render 	:partial => "business_box", 
						:locals => { :member => @member, :business => business,
									 :owned_business => true }%>
		<% end %>
	</div>
	<p><%= will_paginate @owned_businesses %></p>
<% end %>
