<h3>List of Favorite businesses</h3>
<% if @favorite_businesses.empty? %>
	<p>There are no businesses in your list. <%= link_to "Add some businesses to your list", businesses_path %><p>
<% else %>
	<p><%= link_to "Add more businesses to your list", businesses_path %></p>
	<div id="favorite_list">
		<div id="ajax_response" style="display:none">
			<div id="message">Business Removed from your list</div>		
		</div>
		<% for @business in @favorite_businesses do %>
			<%= render 	:partial => "business_box", 
						:locals => {:owned_business => false }%>
		<% end %>
		
		<p><%= will_paginate @favorite_businesses %></p>

	</div>
<% end %>
